.homeContainer {
    color: white;
    font-family: "Varela Round",sans-serif;
    background-color: #1d1b1b;
    min-height: 90vh;
    padding: 1rem;
    margin-top: 3rem !important;
}

.homeGrid {
    border: 1px solid blue;
    margin-top: 40px !important;
    padding: 3rem;
}

.workingImage {
    width: 100%;
    height: 400px;
}

.welcome {
    color: gray;
    padding: 2rem 0 1rem 0;
}

.name {
    font-size: 3rem;
    padding: 10px 0 10px 0;
}

.textGrid {
    padding: 40px 0 30px 60px;
}

.button {
    background-color: #ffb000;
    border: 1px solid #ffb000;
    color: white;
    font-weight: 700;
    width: max-content;
    padding: 13px 22px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    display: block;
    outline: none;
    margin-top: 2.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out 0s;
}