.projectsContainer {
    border: 1px solid purple;
}

.projectGrid {
    border: 1px solid green;
}

.projectCard {
    border: 1px solid black;
    width: 400px;
}

.projectCard img {
    width: 100%;
    height: 300px;
}