.projectsContainer {
    border: 1px solid purple;
    margin: 3rem 0;
    font-family: "Varela Round",sans-serif;
    color: black;
}

.projectHeading {
    margin: 2rem 0;
}

.projectGrid {
    border: 1px solid green;
}

.projectCard {
    border: 1px solid black;
    height: 23rem;
    width: 21rem;
    margin: 1rem;
    box-shadow: 3px 2px 10px grey;
}

.projectCard img {
    width: 100%;
    height: 300px;
}