.projectsContainer {
    margin: 3rem 0;
    font-family: "Varela Round", sans-serif;
    color: black;
    font-size: 1.3rem;
    padding: 2rem;
    min-height: 90vh;
}

.projectHeading {
    margin: 2rem 0;
    text-align: center;
}

.projectGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem !important;
}

.projectCard {
    width: 21rem;
    margin: 1rem;
    box-shadow: 3px 2px 10px grey;
    border-radius: 10px;
    cursor: pointer;
}

.projectCard img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.projectText {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.projectIcons {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.projectIcons #github {
    background-color: #333;
}

.projectIcons #live {
    background-color: #105810;
}

.projectIcons i {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    border-radius: 2.6rem;
    margin: 0 10px 10px 10px;
}

.projectIcons i:hover {
    opacity: .8;
    transition: all .2s ease-in 0s;
}