.footerContainer {
    font-family: "Exo 2",sans-serif;
    display: flex;
    color: #000;
    font-size: .7rem;
    padding: 2rem;
    border-top: 2px solid #000;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 8vh;
}

.footerContainer a {
    text-decoration: none;
    font-family: "Varela Round",sans-serif;
    color: #ffb000;
    text-shadow: 1px 1px 1px #000;
}