.navbar {
    border: 1px solid black;
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}