.navbar {
    background: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    color: black;
    box-shadow: 2px 2px 4px grey;
}

label.logo {
    color: #ffb000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: "Acme", sans-serif;
    cursor: pointer;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li .link {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
}

.active, .link:hover {
    background: #ffb000;
    color: black;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #ffb000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .navbar ul li .link {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        opacity: .9;
    }
    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li .link {
        font-size: 20px;
    }
    .link:hover, .active {
        background: none;
        color: #ffb000 !important;
    }
    #check:checked~ul {
        left: 0;
    }
}