.navbar {
    border: 1px solid black;
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navbar ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .navbar ul li a {
        font-size: 16px;

    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        opacity: .9;
    }
    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar ul li a {
        font-size: 20px;
    }
    a:hover,a.active {
        background: none;
        color: #0082e6 !important;
    }
    #check:checked ~ ul{
        left: 0;
    }
}