.contactContainer {
    border: 1px solid yellow;
}

.contactContainer img {
    margin: 1rem;
    box-shadow: 6px 6px 10px grey;
    width: 170px;
    border: 1px solid #000;
    border-radius: 50%;
    height: 170px;
    
}

.contactHeading {
    margin: 2rem 0;
    font-family: "Varela Round",sans-serif;
    color: #000;
    text-align: center;
}

.contactCard {
    text-align: center;
    box-shadow: 3px 2px 10px grey;
    border-radius: 20px;
    flex-direction: column;
    width: 16rem;
    height: 9rem;
    margin: 1rem;
    padding: 1.3rem 0;
}

.contactIcon i {
    color: #f35166;
    cursor: pointer;
    font-size: 1.7rem;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s ease-in 0s;
    margin-bottom: 8px;
}

.contactLink a {
    text-decoration: none;
}

.contactLink i {
    cursor: pointer;
    margin: .5rem;
    display: inline-block;
    font-size: 1.3rem;
    position: relative;
    text-align: center;
    padding: .1rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

.contactLink  i:hover {
    box-shadow: 2px 2px 4px grey;
    border-radius: 20%;
}

.contactLink #github {
    color: rgba(0,0,0,.884);
}
.contactLink #github:hover {
    color: rgba(0,0,0,.884);
}

.contactLink #facebook {
    color: #1c1ce7;
}
.contactLink #facebook:hover {
    color: #1c1ce7;
}

.contactLink #twitter {
    color: rgba(0,183,255,.9450980392156862);
}

.contactLink #twitter:hover {
    color: rgba(0,183,255,.9450980392156862);
}

.contactLink #instagram {
    color: #d6542d;
}
.contactLink #instagram:hover {
    color: #d6542d;
}