.skillsContainer {
    border: 1px solid orange;
    margin: 2rem 0;
    font-family: "Varela Round",sans-serif;
    color: black;
}

.skillsHeading {
    margin: 2rem 0;
}

.techs {
    box-shadow: 3px 2px 10px grey;
    min-height: 12rem;
    border-radius: 20px;
    padding: 3rem;
    margin: 2rem;
    text-align: center;
}

.skillItem {
    border: 1px solid aqua;
    text-align: center;
}

.techs i {
    margin: 1.1rem;
    font-size: 4.8rem;
}

.techs p {
    font-weight: 700;
}

.techs .html {
    color: rgb(204 78 29);
}

.techs .css {
    color: #5898dc;
}

.techs .bootstrap {
    color: #9300ff;
}

i.fab.javascript.fa-js {
    color: #ecec1c;
}

i.react {
    color: #29c2ff;
}

i.typescript {
    color: #042f67;
}