.skillsContainer {
    border: 1px solid orange;
    margin: 2rem 0;
    font-family: "Varela Round",sans-serif;
    color: black;
}

.skillsHeading {
    margin: 2rem 0;
}

.skillItem {
    border: 1px solid aqua;
    text-align: center;
}